{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container">
        <div class="mb-3">
            <h1>Welcome to the School Event manager</h1><br><br>
        </div>
        <h2>Events for this Month</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Event ID</th>
              <th>Event Name</th>
              <th>Date</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
            <tr>
              <td>{{ event.event_id }}</td>
              <td>{{ event.name }}</td>
              <td>{{ event.date }}</td>
              <td>{{ event.event_type }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}
