{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Request details about an event</h1>
        <p>Use this form to request details about a particular event:</p>
        <form action="/query" method="post">
            <div class="form-group">
                <label for="event_id">Event ID:</label>
                <input type="numeric" class="form-control" name="event_id" placeholder="ID of event" required><br><br>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="user_name" placeholder="Username" required><br><br>
            </div>
            <div class="form-group"></div>
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" placeholder="Email address" required><br><br>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
